@page "/b/{BookSlug}"
@inherits BookBase

@if (Model != null)
{
    <h1>@(Model.BookName)</h1>
    if (Model.AlternateNames.Count > 0)
    {
        foreach (var name in Model.AlternateNames)
        {
            <div>@(name)</div>
        }
    }
    @if (Model.WiktenauerUrl != null)
    {
        <div><a href="@Model.WiktenauerUrl">Wiktenauer Entry</a></div>
    }

    if (Model.Authors.Count > 0)
    {
        <h2>Authors</h2>
        foreach (var author in Model.Authors)
        {
            <div><a href="/author/@(author.AuthorSlug)">@(author.AuthorName)</a></div>
        }
    }
    if (Model.Notes != null)
    {
        <h2>Notes</h2>
        <div>@Model.Notes</div>
    }

    if (Model.Parts.Count > 0)
    {
        <h2>Parts</h2>
        foreach (var part in Model.Parts)
        {
            <div><a href="@part.PartUrlFragment">@(part.PartName)</a></div>
        }
    }

    if (Model.Weapons.Count > 0)
    {
        <h2>Weapons</h2>
        @foreach (var weapon in Model.Weapons)
        {
            <div>
                @(weapon.WeaponNameFull)
            </div>
        }
    }
}
else if (LoadFailed)
{
    <h1>Error loading page.</h1>
}
else
{
    <h1>Loading</h1>
}
