@page "/b/{BookSlug}/p/{PartSlug}"
@page "/b/{BookSlug}/p/{PartSlug}/t"
@page "/b/{BookSlug}/p/{PartSlug}/t/{Tab}"
@inherits PartBase

@if (Model != null)
{
    <h1>@(Model.PartName)</h1>
    <table class="gridtable">
        <tr>
            <th>
                @if (Model.Previous != null)
                {
                    <a href="@(Model.Previous.PartUrlFragment)/t/@(Tab)">
                        &lt;--
                        @Model.Previous.PartName
                    </a>
                }
            </th>
            <th>
                <a href="/b/@(Model.BookSlug)">@Model.BookName</a>
            </th>
            <th>
                @if (Model.Next != null)
                {
                    <a href="@(Model.Next.PartUrlFragment)/t/@(Tab)">
                        @Model.Next.PartName
                        --&gt;
                    </a>
                }
            </th>
        </tr>
    </table>

    <table class="gridtable">
        <tr>
            <th> <NavLink class="nav-link" href=@(Model.PartUrlFragment )>Overview</NavLink>  </th>
            <th> <NavLink class="nav-link" href=@(Model.PartUrlFragment + "/t/sections")>Contents</NavLink>  </th>
            <th> <NavLink class="nav-link" href=@(Model.PartUrlFragment + "/t/plays")>Plays</NavLink>  </th>
        </tr>
    </table>

    @if (Tab == "sections")
    {
        <h2>Table of Contents</h2>
        foreach (var section in Model.Sections)
        {
            <div style="margin-left: 25px">
                <a href="@(section.SectionUrlFragment)">@(section.SectionNameFull) </a>
            </div>
            foreach (var s2 in section.Subsections)
            {
                <div style="margin-left: 50px">
                    <a href="@(s2.SectionUrlFragment)">@(s2.SectionNameFull) </a>
                </div>
                foreach (var s3 in s2.Subsections)
                {
                    <div style="margin-left: 75px">
                        <a href="@(s3.SectionUrlFragment)">@(s3.SectionNameFull) </a>
                    </div>
                }
            }
        }
    }
    else if (Tab == "plays")
    {
        <h2>Plays</h2>
        foreach (var play in Model.Plays)
        {
            <div style="margin-left: 25px">
                <a href="@(play.SectionUrlFragment)/t/plays">@(play.PlayNameFull) @(string.IsNullOrEmpty(play.PageReference) ? "" : "(" + play.PageReference + ")")</a>
            </div>
        }
    }
    else
    {
        <h2>Overview</h2>
        @if (Model.Sections.ChildSections().Count() > 0)
        {
            <div>Sections: @(Model.Sections.ChildSections().Count())</div>
        }
        @if (Model.Plays.Count > 0)
        {
            <div>Plays: @(Model.Plays.Count)</div>
        }
        @if (Model.Weapons.Count > 0)
        {
            <div>Weapon Combinations: @(Model.Weapons.Count)</div>
        }

        <h2>Sections</h2>
        foreach (var section in Model.Sections)
        {
            <div style="margin-left: 25px">
                <a href="@(section.SectionUrlFragment)">@(section.SectionNameFull) </a>
            </div>
        }

        if (Model.Weapons.Count > 0)
        {
            <h2>Weapons</h2>
            @foreach (var weapon in Model.Weapons)
            {
                <div>
                    @(weapon.WeaponNameFull)
                </div>
            }
        }
    }
}
else if (LoadFailed)
{
    <h1>Error loading page.</h1>
}
else
{
    <h1>Loading</h1>
}
