@page "/b/{BookSlug}/p/{PartSlug}/s/{SectionSlug}/edit"
@page "/b/{BookSlug}/p/{PartSlug}/s/{SectionSlug}/new"
@using HemaDrillBook.Shared
@inherits PageBase<SectionEdit>

@if (Model != null)
{
    <h1>@(Model.SectionNameFull)</h1>

    <EditForm Model="@Model" OnValidSubmit="@SubmitChangesAsync">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <p>
            <label for="sectionKey">Section Key: </label>
            <input type="number" id="sectionKey" readonly value="@(Model.SectionKey)" />
            <br />
            <label for="name">Section Name: </label>
            <InputText id="name" @bind-Value="Model.SectionName" style="max-width:600px;width:100%" maxlength="250" />
            <br />
            <label for="page">Page Reference: </label>
            <InputText id="page" @bind-Value="Model.PageReference" style="max-width:600px;width:100%" maxlength="50" />
            <br />
            <label for="slug">Slug: </label>
            <InputText id="slug" @bind-Value="Model.SectionSlug" style="max-width:600px;width:100%" maxlength="50" />
            <br />
            <label for="parentSection">Parent Section: </label>
            <InputSelect id="parentSection" @bind-Value="Model.ParentSectionKeyString" @onclick="OnClick" @onkeyup="OnKeyUp">
                <option value=""></option>
                @foreach (var section in ParentSections)
                    {
                        if (Model.ParentSectionKey == section.SectionKey)
                        {
                        <option value="@(section.SectionKey)" selected> @(section.SectionNameWithPrefix)</option>
                        }
                        else
                        {
                        <option value="@(section.SectionKey)"> @(section.SectionNameWithPrefix)</option>
                        }
                    }
            </InputSelect>
            <br />
            <label for="displayOrder">Display Order: </label>
            <InputNumber id="displayOrder" @bind-Value="Model.DisplayOrder" />
        </p>

        @if (SectionsWithSameParent.Count > 0)
        {
            <h4>Other pages with this parent section</h4>
            <ul>
                @foreach (var section in SectionsWithSameParent)
                {
                    <li>@(section.DisplayOrder + ": " + section.SectionNameFull)</li>
                }
            </ul>
        }

        @if (!string.IsNullOrEmpty(Model.ErrorDisplay))
        {
            <p style="color:red">@Model.ErrorDisplay</p>
        }

        <p>
            <button type="submit">Save</button>
            <button type="button" @onclick="ReturnToSection">Cancel</button>
        </p>
    </EditForm>

}
else if (LoadFailed)
{
    <h1>Error loading page.</h1>
}
else
{
    <h1>Loading</h1>
}
