@page "/b/{BookSlug}/p/{PartSlug}/s/{SectionSlug}"
@page "/b/{BookSlug}/p/{PartSlug}/s/{SectionSlug}/t"
@page "/b/{BookSlug}/p/{PartSlug}/s/{SectionSlug}/t/{Tab}"
@using HemaDrillBook.Shared
@inherits EngineBase<SectionDetail>

@if (Model != null)
{
    <h1>
        @(Model.SectionNameFull)
    </h1>

    <div id="navigationGrid">
        <div style="font-size:small">
            @foreach (var item in Model.BreadCrumb)
            {
                if (item != Model.BreadCrumb[0])
                {
                    <span>&star;</span>
                }
                <a href="@item.UrlFragment" title="@item.Name">@(item.ShortName(25) + " ")</a>
            }
        </div>

        <table class="gridtableCentered" width="100%" style="max-width:400px">
            <tr>
                @if (Model.PreviousSection != null)
                {
                    <th width="20%">
                        <a href="@(Model.PreviousSection.SectionUrlFragment)/t/@(Tab)" title="@Model.PreviousSection.SectionNameFull">
                            &lt;&lt;&mdash; Skip
                        </a>
                    </th>
                }
                else
                {
                    <td width="20%">&lt;&lt;&mdash; Skip</td>
                }
                @if (Model.PreviousPage != null)
                {
                    <th width="20%">
                        <a href="@(Model.PreviousPage.SectionUrlFragment)/t/@(Tab)" title="@Model.PreviousPage.SectionNameFull">&lt;&mdash; Back</a>
                    </th>
                }
                else
                {
                    <td width="20%">&lt;&mdash; Back</td>
                }

                <th width="20%">
                    @if (Model.Up != null)
                    {
                        <a href="@(Model.Up.SectionUrlFragment)/t/@(Tab)" title="@Model.Up.SectionNameFull">Up </a>

                    }
                    else
                    {
                        <a href="@(Model.PartUrlFragment)/t/@(Tab)" title="@Model.PartName">Up</a>
                    }
                </th>

                @if (Model.NextPage != null)
                {
                    <th width="20%">
                        <a href="@(Model.NextPage.SectionUrlFragment)/t/@(Tab)" title="@Model.NextPage.SectionNameFull">Next &mdash;&gt;</a>
                    </th>
                }
                else
                {
                    <td width="20%">Next &mdash;&gt;</td>
                }

                @if (Model.NextSection != null)
                {
                    <th width="20%">
                        <a href="@(Model.NextSection.SectionUrlFragment)/t/@(Tab)" title="@Model.NextSection.SectionNameFull">
                            Skip &mdash;&gt;&gt;
                        </a>
                    </th>
                }
                else
                {
                    <td width="20%">Skip &mdash;&gt;&gt;</td>
                }
            </tr>
        </table>
        <table class="gridtableCentered" width="100%" style="max-width:400px">
            <tr>
                <th> <a href=@(Model.SectionUrlFragment )>Overview</a>  </th>

                @if (Model.Subsections.Count > 0)
                {
                    <th> <a href=@(Model.SectionUrlFragment + "/t/sections")>Contents</a>  </th>
                }
                else
                {
                    <td> Contents </td>
                }

                @if (Model.TotalPlayCount > 0)
                {
                    <th> <a href=@(Model.SectionUrlFragment + "/t/plays")>Plays</a>  </th>
                }
                else
                {
                    <td>Plays</td>
                }

                @if (Model.TotalVideoCount > 0)
                {
                    <th> <a href=@(Model.SectionUrlFragment + "/t/videos")>Videos</a>  </th>
                }
                else
                {
                    <td>Videos</td>
                }

                @if (Model.CommentaryCount > 0 || Model.MyCommentary?.PrivateNotes != null || Model.Subsections.WalkSections().Any(s => s.CommentaryCount > 0))
                {
                    <th> <a href=@(Model.SectionUrlFragment + "/t/commentary")>Commentary</a>  </th>
                }
                else
                {
                    <td>Commentary</td>
                }
                @*<th> <a href=@(Model.SectionUrlFragment + "/t/all")>All</a>  </th>*@
            </tr>
        </table>
        <table class="gridtableCentered" width="100%" style="max-width:400px">
            @if (IsAuthenticated)
            {
                <tr>
                    <td>Contribute</td>
                    <th>
                        <a href=@(Model.SectionUrlFragment + "/t/addVideo")>Add Video</a>
                    </th>

                    <th>
                        <a href=@(Model.SectionUrlFragment + "/t/addCommentary")>Add Commentary</a>
                    </th>

                    @if (MayEdit)
                    {
                        <th>
                            <a href="@(Model.SectionUrlFragment)/edit">Edit Section</a>
                        </th>
                        <th>
                            <a href="@(Model.SectionUrlFragment)/new">Add Section</a>
                        </th>
                    }
                </tr>
            }
            else
            {
                <tr><td>Login to contribute</td></tr>
            }
        </table>
    </div>

    @if (Tab == "sections" && Model.Subsections.Count > 0)
    {
        <h2>Table of Contents</h2>
        foreach (var section in Model.Subsections)
        {
            <div style="margin-left: 25px">
                <a href="@(section.SectionUrlFragment)">@(section.SectionNameFull)</a> @(section.FlairCounts)
            </div>
            foreach (var s2 in section.Subsections)
            {
                <div style="margin-left: 50px">
                    <a href="@(s2.SectionUrlFragment)">@(s2.SectionNameFull)</a> @(s2.FlairCounts)
                </div>
                foreach (var s3 in s2.Subsections)
                {
                    <div style="margin-left: 75px">
                        <a href="@(s3.SectionUrlFragment)">@(s3.SectionNameFull)</a>  @(s3.TotalFlairCounts)
                    </div>
                }
            }
        }
    }
    else if (Tab == "plays" && Model.TotalPlayCount > 0)
    {

        <h2>Plays</h2>
        @foreach (var play in Model.Plays)
        {
            <PlayGrid Play="@play" />
        }

        @if (Model.Plays.Count > 0)
        {
            <h5>Warning: This is just a summary of each play. See the original text or translation for details.</h5>
        }

        if (Model.Subsections.ChildPlays().Any())
        {
            <h3>Plays in subsections</h3>

            @foreach (var play in Model.Subsections.ChildPlays().OrderBy(p => p.PlayFullName))
            {
                <div>
                    <a href="@(play.SectionUrlFragment)">@(play.PlayFullName)</a>
                </div>
            }
        }

    }
    else if (Tab == "videos" && Model.TotalVideoCount > 0)
    {
        <h2>Videos</h2>

        @foreach (var video in Model.Videos)
        {
            if (video.Description != null)
            {
                <h3>@(video.Description)</h3>
            }
            if (video.VideoServiceKey == 1)
            {
                if (video.StartTime.HasValue)
                {
                    <iframe width="560" height="315" src="//www.youtube.com/embed/@(video.VideoServiceVideoId)?start=@(video.StartTime.Value.TotalSeconds)" frameborder="0" allowfullscreen></iframe>
                    <br />
                }
                else
                {
                    <iframe width="560" height="315" src="//www.youtube.com/embed/@(video.VideoServiceVideoId)" frameborder="0" allowfullscreen></iframe>
                    <br />
                }
            }
            else if (video.VideoServiceKey == 2)
            {
                <iframe width="640" height="360" src="https://player.vimeo.com/video/@(video.VideoServiceVideoId)" frameborder="0" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen=""></iframe>
            }
            else
            {
                <div>  <a href="@(video.Url)">@(video.Description ?? video.Url)</a></div>
            }
        }

        if (Model.Subsections.ChildVideos().Any())
        {
            <h3>Videos in subsections</h3>
            @foreach (var video in Model.Subsections.ChildVideos().Select(v => new { v.SectionUrlFragment, Name = v.Description ?? v.SectionName }).Distinct())
            {
                <div style="margin-left: 25px">
                    <a href="@(video.SectionUrlFragment)/t/videos">@(video.Name)</a>
                </div>
            }
        }
    }
    else if (IsAuthenticated && Tab == "addVideo")
    {
        <h2>Contribute</h2>

        <h3>Add Video</h3>

        <EditForm Model="@VideoInput" OnValidSubmit="@SubmitVideo">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <p>
                <label for="url">URL: </label>
                <InputText id="url" @bind-Value="VideoInput.Url" />
                <br />
                <label for="description">Description: </label>
                <InputText id="description" @bind-Value="VideoInput.Description" />
                <br />
                <label for="description">Author: </label>
                <InputText id="author" @bind-Value="VideoInput.Author" />
                <br />
                <label for="startTime">Start Time: </label>
                <InputText id="startTime" @bind-Value="VideoInput.StartTimeString" />
            </p>

            @if (!string.IsNullOrEmpty(VideoInput.ErrorDisplay))
            {
                <p style="color:red">@VideoInput.ErrorDisplay</p>
            }

            <button type="submit">Submit</button>
        </EditForm>

    }
    else if (Tab == "commentary")
    {
        <h2>Commentary</h2>
        @if (IsAuthenticated && Model.MyCommentary != null)
        {
            @if (Model.MyCommentary.PrivateNotes != null)
            {
                <h3>Your Notes (<a href=@(Model.SectionUrlFragment + "/t/addCommentary")>Edit</a>)</h3>
                <MarkdownView Content="@Model.MyCommentary.PrivateNotes" />
            }
            else
            {
                <h3>Your Notes</h3>
                <div><a href=@(Model.SectionUrlFragment + "/t/addCommentary")>Add you notes</a></div>
            }
            if (Model.MyCommentary.PublicNotes != null)
            {
                <h3>Your Commentary (<a href=@(Model.SectionUrlFragment + "/t/addCommentary")>Edit</a>)</h3>
                <MarkdownView Content="@Model.MyCommentary.PublicNotes" />
            }
            else
            {
                <h3>Your Commentary</h3>
                <div><a href=@(Model.SectionUrlFragment + "/t/addCommentary")>Share you comments</a></div>
            }
        }
        @foreach (var comment in Model.Commentary)
        {
            <h3>@comment.DisplayName</h3>
            <MarkdownView Content="@comment.PublicNotes" />
        }

        if (Model.Subsections.WalkSections().Any(s => s.CommentaryCount > 0))
        {
            <h3>Commentary in subsections</h3>

            @foreach (var section in Model.Subsections.WalkSections().Where(s => s.CommentaryCount > 0))
            {
                {
                    <div style="margin-left: 25px">
                        <a href="@(section.SectionUrlFragment)/t/commentary">@(section.SectionName)</a>
                    </div>
                }
            }
        }

    }
    else if (IsAuthenticated && Tab == "addCommentary")
    {
        <h2>Contribute</h2>

        <EditForm Model="@CommentaryInput" OnValidSubmit="@SubmitCommentary">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <h3>Add Private Notes (Only you can see this)</h3>
            <p><InputTextArea id="privateNotes" @bind-Value="CommentaryInput.PrivateNotes" style="min-height:250px;max-width:600px;width:100%" /></p>
            <h3>Add Commentary (Everyone can see this)</h3>
            <p>
                <InputTextArea id="publicNotes" @bind-Value="CommentaryInput.PublicNotes" style="min-height:250px;max-width:600px;width:100%" />
            </p>
            @if (!string.IsNullOrEmpty(CommentaryInput.ErrorDisplay))
            {
                <p style="color:red">@CommentaryInput.ErrorDisplay</p>
            }

            <p><button type="submit">Submit</button></p>
        </EditForm>

    }
    else
    {
        <h2>Overview</h2>
        @if (Model.Subsections.WalkSections().Count() > 0)
        {
            <div>Subsections: @(Model.Subsections.WalkSections().Count())</div>
        }
        @if (Model.Plays.Count > 0)
        {
            <div><a href=@(Model.SectionUrlFragment + "/t/plays")>Plays</a> in this section: @(Model.Plays.Count)</div>
        }
        @if (Model.Subsections.ChildPlays().Count() > 0)
        {
            <div><a href=@(Model.SectionUrlFragment + "/t/plays")>Plays</a> in subsections: @(Model.Subsections.ChildPlays().Count())</div>
        }

        @if (Model.Videos.Count > 0)
        {
            <div><a href=@(Model.SectionUrlFragment + "/t/videos")>Videos</a> in this section: @(Model.Videos.Count)</div>
        }
        @if (Model.Subsections.ChildVideos().Count() > 0)
        {
            <div><a href=@(Model.SectionUrlFragment + "/t/videos")>Videos</a> in subsections: @(Model.Subsections.ChildVideos().Count())</div>
        }
        @if (Model.CommentaryCount > 0)
        {
            <div><a href=@(Model.SectionUrlFragment + "/t/commentary")>Commentary</a> in this section: @(Model.CommentaryCount)</div>
        }
        @if (Model.Subsections.WalkSections().Any(s => s.CommentaryCount > 0))
        {
            <div><a href=@(Model.SectionUrlFragment + "/t/commentary")>Commentary</a> in subsections: @(Model.Subsections.WalkSections().Sum(s => s.CommentaryCount))</div>
        }

        @if (Model.Weapons.Count > 0)
        {
            <div>Weapon Combinations: @(Model.Weapons.Count)</div>
        }

        if (Model.Subsections.Count > 0)
        {
            <h2>Sections</h2>
            foreach (var section in Model.Subsections)
            {
                <div style="margin-left: 25px">
                    <a href="@(section.SectionUrlFragment)">@(section.SectionNameFull)</a> @(section.TotalFlairCounts)
                </div>
            }
        }

        if (Model.Weapons.Count > 0)
        {
            <h2>Weapons</h2>
            @foreach (var weapon in Model.Weapons)
            {
                <div>
                    @(weapon.WeaponFullName)
                </div>
            }
        }
    }
}
else if (LoadFailed)
{
    <h1>Error loading page.</h1>
}
else
{
    <h1>Loading</h1>
}
